:root {
  --primary-color: #227eff;
  --secondary-color: #d8e8ff;
}

body {
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

nav {
  box-shadow: 0 7px 7px 0px rgba(0, 0, 0, 0.1);
}

header.home {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  height: 100vh;
}

header.home div {
  margin: 0 auto;
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 100px 30px 75px;
  text-align: center;
}

header.secondary {
  color: #000;
  padding: 100px 30px 75px;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

header.home h1 {
  font-size: 96px;
}

header.home h2 {
  font-size: 40px;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

header a {
  background-color: #fff;
  color: #0b2b4c;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-top: 32px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: #fff;
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

main h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

main p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 7px 0;
  opacity: 0.7;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 100px;
}

section.secondary {
  background-color: #f8f8f8;
}

form {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 380px;
}

label {
  font-size: 18px;
  margin-top: 10px;
}

.btn {
  background-color: var(--secondary-color);
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 3px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.text-box {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 7px 0;
  padding: 10px 15px;
  width: 100%;
}

.text-box:focus {
  border: 1px solid var(--primary-color);
  outline: 3px solid #87b9ff;
}

.special-color {
  color: var(--primary-color);
}

.special-styling {
  border-radius: 10px;
  background-color: var(--secondary-color);
  padding: 20px;
}

.required-field {
  color: red;
}

.statistics-map {
  width: 450px;
}

.statistics-key {
  width: 200px;
}

footer {
  background: var(--secondary-color);
  padding: 50px 30px;
  text-align: center;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}

footer a {
  color: #000;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  color: var(--primary-color);
  font-size: 30px;
  margin: 0 20px;
}

/* shelter and soup kitchen display */
.google-maps {
  margin-bottom: 7px;
}

.shelter-info,
.soup-kitchen {
  margin-bottom: 20px;
}

.all-shelters-link {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  color: var(--primary-color);
  display: block;
  height: fit-content;
  margin: 10px auto;
  padding: 5px 15px;
  text-decoration: none;
  transition: 200ms;
  width: fit-content;
}

.all-shelters-link:hover {
  background-color: var(--primary-color);
  color: #fff;
}

#page-buttons button {
  aspect-ratio: 1 / 1;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  margin: 0 3px;
  transition: 170ms;
}

#page-buttons button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#page-input {
  border: 1px solid #000;
  border-radius: 4px;
  color: var(--primary-color);
  margin: 0 2px;
  text-align: center;
  width: 40px;
  position: relative;
}

#page-input:focus {
  border: 1px solid var(--primary-color);
  outline: 1px solid #87b9ff;
}

#current-page label {
  margin: 0;
}

#shelter-container {
  margin: auto;
  /* max-height: 1000px;
  overflow-y: auto; */
}

#no-results {
  line-height: 1.7;
}

#no-results ul {
  max-width: 400px;
  text-align: start;
}

#soup-kitchen-container {
  margin: auto;
  max-height: 500px;
  max-width: 900px;
  overflow-y: auto;
}

#shelter-container iframe {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  width: 400px;
}

#soup-kitchen-container iframe {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  width: 100%;
}

/* < large bootstrap width */
@media (max-width: 991px) {
  section {
    padding: 50px;
  }

  .statistics-map {
    width: 100%;
  }

  .statistics-key {
    width: 220px;
  }

  #shelter-container iframe {
    height: 90%;
    width: 100%;
  }
}

/* < medium bootstrap width */
@media (max-width: 767px) {
  header,
  header.home,
  header.secondary {
    padding: 80px 30px 55px;
  }

  header.home {
    height: fit-content;
  }

  header h1,
  header.home h1,
  header.secondary h1 {
    font-size: 48px;
  }

  header h2,
  header.home h2,
  header.secondary h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  section {
    padding: 30px;
  }

  .statistics-map {
    width: 500px;
  }

  .statistics-key {
    width: 200px;
  }

  #shelter-container iframe {
    height: 100%;
    max-width: 400px;
  }
}

/* < small bootstrap width */
@media (max-width: 575px) {
  main h3 {
    font-size: 30px;
  }

  .statistics-map {
    width: 100%;
  }

  .statistics-key {
    width: 150px;
  }
}
