:root {
  --primary-color: #227eff;
  --secondary-color: #d8e8ff;
}

body {
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

nav {
  box-shadow: 0 7px 7px 0px rgba(0, 0, 0, 0.1);
}

header.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 230px 30px;
  text-align: center;
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 100px 30px 75px;
  text-align: center;
}

header.secondary {
  color: #000;
  padding: 100px 30px 75px;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

header.home h1 {
  font-size: 96px;
}

header.home h2 {
  font-size: 40px;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

header a {
  background-color: #fff;
  color: #0b2b4c;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-top: 32px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: #fff;
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

main h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

main p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 7px 0;
  opacity: 0.7;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 100px;
}

section.secondary {
  background-color: #f8f8f8;
}

form {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 380px;
}

label {
  font-size: 18px;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-gap: 60px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2-columns-md,
.grid-2-columns-md-only {
  max-height: 1000px;
  overflow-y: auto;
  padding: 10px;
  margin: auto;
}

.grid-2-columns-md {
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
}

.grid-2-columns-md-only {
  grid-gap: 20px;
  grid-template-columns: 1fr;
  max-width: 350px;
}

.grid-2-columns-md-only div {
  border-bottom: 1px dashed #a5a5a5;
}

.grid-2-columns-md-only div:last-child {
  border-bottom: none;
}

.btn {
  background-color: var(--secondary-color);
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 3px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.text-box {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 7px 0;
  padding: 10px;
  width: 100%;
}

.text-box:focus {
  border: 2px solid var(--primary-color);
  outline: 3px solid #87b9ff;
}

.special-color {
  color: var(--primary-color);
}

.special-styling {
  border-radius: 10px;
  background-color: var(--secondary-color);
  padding: 20px;
}

.required-field {
  color: red;
}

.google-maps {
  height: 100%;
  width: 100%;
}

footer {
  background-color: #fff;
  padding: 30px;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}

footer a {
  color: #000;
}

.contact-box {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 50px 30px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  color: var(--primary-color);
  font-size: 30px;
  margin: 0 20px;
}

@media (max-width: 870px) {
  header,
  header.home,
  header.secondary {
    padding: 80px 30px 55px;
  }

  header h1,
  header.home h1,
  header.secondary h1 {
    font-size: 48px;
  }

  header h2,
  header.home h2,
  header.secondary h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  section {
    padding: 30px;
  }

  .grid-2-columns,
  .grid-3-columns {
    grid-gap: 30px;
    grid-template-columns: 1fr;
  }

  .grid-2-columns-md,
  .grid-2-columns-md-only {
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    max-width: none;
  }

  .grid-2-columns-md-only div {
    border: none;
  }

  .google-maps {
    margin-left: auto;
  }
}

@media (max-width: 660px) {
  .grid-2-columns-md,
  .grid-2-columns-md-only {
    grid-gap: 10px;
    grid-template-columns: 1fr;
    max-width: 350px;
    text-align: center;
  }

  .grid-2-columns-md div,
  .grid-2-columns-md-only div {
    border-bottom: 1px dashed #a5a5a5;
  }

  .grid-2-columns-md div:last-child {
    border-bottom: none;
  }

  .google-maps {
    margin: auto;
  }

  .mapImage {
  width: 100%;
  height: 300px; /* Adjust the map's height as needed */
}
}

.game-quiz-container{
    display:flex;
    width: 50rem;
    height: 45rem;
    margin: auto;
    background-color: rgb(250, 210, 210);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.game-details-container{
    width: 80%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-details-container h1{
    font-size: 1.8rem;
}

.game-question-container{
    width: 80%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    border: 2.5px solid rgb(100, 43, 43);
    border-radius: 25px;
}

.game-question-container h1{
    font-size: 1.6rem;
    text-align: center;
    padding: 3px;
}

.game-options-container{
    width: 80%;
    height: 19rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 42%;
    height: 6.5rem;
    border: 3.2px solid rgb(100, 43, 43);
    border-radius: 15px;
    overflow: hidden;
}
span label{
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: rgb(36, 36, 36);
    padding: 1.4vh;
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: rgb(204, 122, 122);
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
    background: rgb(213, 175, 238);
}

.next-button-container{
    width: 50%;
    height: 8rem;
    display: flex;
    justify-content: center;
}
.next-button-container button{
    width: 12rem;
    height: 5rem;
    border-radius: 16px;
    background: none;
    color: rgb(25, 25, 25);
    font-weight: 600;
    border: 2px solid rgb(128, 128, 128);
    cursor: pointer;
    outline: none;
}
.next-button-container button:hover{
    background-color: rgb(93, 143, 132);
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
    height: 22rem;
    width: 27rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1.3rem;
    height: 6rem;
    color: lightgray;
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}

@media(min-width : 300px) and (max-width : 350px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
     }
     .game-details-container h1{
        font-size: 0.8rem;
     }

     .game-question-container{
        height: 6rem;
     }
     .game-question-container h1{
       font-size: 0.9rem;
    }

    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }
    .game-options-container span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }

    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
   .game-quiz-container{
       width: 90%;
       height: 80vh;
    }
    .game-details-container h1{
        font-size: 1rem;
    }

    .game-question-container{
        height: 8rem;
    }

    .game-question-container h1{
        font-size: 0.9rem;
     }

    .game-options-container span{
        width: 50%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
